<%- include("header") -%>
<h2>This is About page of To Do List</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus totam animi, eligendi ea sint sed numquam accusantium quam, natus nam officia quibusdam ratione alias harum minus in tempore quisquam ipsa adipisci? Facere, nostrum recusandae ea laborum laboriosam architecto saepe incidunt, iste neque tempora ipsam ipsa molestias voluptas porro, modi enim voluptates officia quam? Eaque, recusandae? Sed earum nesciunt, quisquam suscipit doloremque sint accusamus quibusdam id. Ab blanditiis dolore corrupti molestiae, repellendus nemo itaque vitae iusto molestias aliquam dolorum, voluptatibus aspernatur et ex corporis voluptas consequatur distinctio quibusdam incidunt nihil ducimus magnam deleniti explicabo. Quisquam hic perferendis quam assumenda quasi. Deleniti.</p>
<%- include("footer") -%>